//at.alicdn.com/t/c/font_4602166_erg2686y0v8.css
@font-face {
  font-family: "iconfont"; /* Project id 4602166 */
  src: url('//at.alicdn.com/t/c/font_4602166_erg2686y0v8.woff2?t=1719499610344') format('woff2'),
       url('//at.alicdn.com/t/c/font_4602166_erg2686y0v8.woff?t=1719499610344') format('woff'),
       url('//at.alicdn.com/t/c/font_4602166_erg2686y0v8.ttf?t=1719499610344') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-070_dianzan:before {
  content: "\e76e";
}

.icon-a-070_fasong:before {
  content: "\e76f";
}

.icon-a-070_kuaidi:before {
  content: "\e771";
}

.icon-a-070_waisong:before {
  content: "\e773";
}
